name: .NET Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore SocialSecurity.sln

      - name: Build
        run: dotnet build SocialSecurity.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test SocialSecurity.sln --configuration Release --no-build
